.mobile-container {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  border: 2px solid;
  overflow-x: hidden;
}

.status-bar {
  padding-top: 25px;
}

.full-width {
  width: 100%;
}

.button-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.splash {
  text-align: center;
  position: absolute;
  top: 20%;
}

.logo {
  text-align: center;
  top: 20%;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #3facef;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}
.btn-primary:hover {
  background-color: #3facef;
}

.btn-secondary {
  background-color: #66ccff;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.nav-bar {
  text-transform: uppercase;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: #0f0f3f;
}

.nav-bar-back a {
  font-size: 32px;
  font-weight: bold;
  padding-left: 16px;
  position: relative;
  top: -10px;
  color: #0f0f3f;
}

.col-less-right-padding {
  padding-right: 2px
}

.col-less-left-padding {
  padding-left: 2px
}

.centered-form {
  padding: 0px 15px
}

.padded {
  padding: 0px 45px;
}

.full-area-message {
  color: #ffffff;
  font-size: 32px;
  margin-top: 30%;
}

.full-area-height {
  /* height minus button bar */
  height: calc(100% - 42px);
}

.blue-background {
  background-color: #3facef;
  height: 100%
}

.blue-background .nav-bar,
.blue-background .nav-bar-back a {
  color: #ffffff;
}
.blue-background .btn-primary {
  background-color: #ffffff;
  color: #3facef;
}
.blue-background .btn-primary:hover {
  background-color: #ffffff;
}

